<div class="container">
  <div class="row">
    <h3>
      <%= @restaurant.name %>'s Dashboard
    </h3>
    <hr>
    <ul>
      <li>
        <p>有<%= @restaurant.comments.size %>個評論</p>
      </li>
      <li>
        <p>這家餐廳平均價位為 ＄ＸＸＸ</p>
      </li>
      <li>
        <p>有ＸＸ人收藏這家餐聽</p>
      </li>
    </ul>
  </div>
</div>